*{
    margin: 0;
    padding: 0;
    }
    /*НА ТОВАРАХ ЕСТЬ ИЗБРАННОЕ И КОРЗИНА, НАСТРОИТЬ ПОТОМ*/
    body{
        font-family: 'Montserrat', sans-serif;
    }
    .center{
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
    .top{
        height: 735px;
        background-image: url(../images/top_back.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .top_catalog{
        height: 400px;
        background-image: url(../images/header_bg_catalog.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .header{
        line-height: 76px;
    }
    .upper_header{
        padding-top: 17px;
        padding-bottom: 17px;
        display: flex;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
    }
    /* УЖАСНАЯ СТРЕЛОЧКА!!!*/
    .arrow{
        display: flex;
        justify-content: flex-end;
        margin-top: 180px;
        margin-left: 1163px;
        padding: 10px;
    }
    .header_nav{
        display: flex;
        gap: 32px;
    }
    .header_input{
        width: 288px;
        height: 41px;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: transparent;
        outline: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
    }
    .header_input::placeholder{
        color: #FFFFFF;
    }
    .links1{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }
    .links1_phone{
        display: none;
    }
    .links1:hover{
    text-decoration: underline;
    }
    .main_title1{
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        padding-top: 64px;
        color: #FFFFFF;
        max-width: 792px;
    }
    .main_title2{
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        padding-bottom: 16px;
        color: #FFFFFF;
        max-width: 792px;
    }
    .text1{
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
    .catalog_link1{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: #FFFFFF;
    }
    .catalog_link1:hover{
        text-decoration: underline;
    }
    .for{
    padding-top: 64px;
    }
    .for_content{
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(12,1fr);
        margin-top: 32px;
    }
    .for_animation{
        overflow: hidden;
    }
    .for_text{
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        height: 415px;
        grid-column: span 4;
        justify-content: center;
        background-size: cover;
    }
    .for_big{
        grid-column: span 6;
    }
    .for_item1{
        transition: all 1s;
        background-image: url(../images/for_1.jpg);
        min-width: 378px;
    }
    .for_item2{
        transition: all 1s;
        background-image: url(../images/for_2.jpg);
        min-width: 378px;
    }
    .for_item3{
        transition: all 1s;
        background-image: url(../images/for_3.jpg);
        min-width: 378px;
    }
    .for_item4{
        transition: all 1s;
        background-image: url(../images/for_4.jpg);
        min-width: 378px;
    }
    .for_item5{
        transition: all 1s;
        background-image: url(../images/for_5.jpg);
        min-width: 378px;
    }
    .for_item1:hover{
        transform: scale(1.2);
        font-size: 275%;
    }
    .for_item2:hover{
        transform: scale(1.2);
        font-size: 275%;
    }
    .for_item3:hover{
        transform: scale(1.2);
        font-size: 125%;
    }
    .for_item4:hover{
        transform: scale(1.2);
        font-size: 125%;
    }
    .for_item5:hover{
        transform: scale(1.2);
        font-size: 125%;
    }
    .for_title{
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .product_shape{
        max-width: 379px;
        margin-top: 32px;
    }
    .sale_products{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
    .image_size{
        transition: all 1s;
    }
    .image_size:hover{
        transform: scale(1.035);
        box-shadow: 0 0 5px black;
        margin-bottom: 8px;
    }
    .special_offers{
        padding-top: 64px;
    }
    .special_offers_products{
        display: flex;
        gap: 28px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .special_offers_h2{
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: #000000;
    }
    .special_product1_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .special_product1_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .special_product1_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .special_product1_p3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #888888;
    }
    .special_product2_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .special_product2_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .special_product2_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .special_product2_p3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #888888;
    }
    .special_product3_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .special_product3_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .special_product3_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .special_product3_p3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #888888;
    }
    .products_catalog{
        margin-top: 64px;
    }
    .products_catalog_h2{
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .products{
        display: flex;
        gap: 31px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product1_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .product1_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .product1_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .product2_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .product2_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .product2_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .product3_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .product3_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .product3_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .product4_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .product4_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .product4_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .product5_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .product5_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .product5_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .product6_h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 8px;
    }
    .product6_p1{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        padding-bottom: 12px;
    }
    .product6_p2{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #050505;
    }
    .link_box{
        margin-bottom: 64px;
        margin-top: 39px;
    }
    .catalog_link2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    }
    .catalog_link2:hover{
        text-decoration: underline;
    }
    .show_more_basket{
        display: none;
    }
    .footer{
        background: #F7F6F6;
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 38px;
        padding-top: 32px;
    }
    .logo_bottom{
        padding-bottom: 86px;
    }
    .footer_content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 189px
    }
    .footer_info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 145px;
    }
    .footer_form{
        display: flex;
    }
    .form_bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav_footer_items{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
    }
    .footer_items{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 12px;
    }
    .footer_icons{
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
    }
    .inst{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .inst path{
        transition: all 0.8s;
    }
    .inst:hover path{
        transform: scale(1.05);
        fill: black;
    }
    .twitt{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .twitt path{
        transition: all 0.8s;
    }
    .twitt:hover path{
        transform: scale(1.05);
        fill: black;
    }
    .faceb{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .faceb path{
        transition: all 0.8s;
    }
    .faceb:hover path{
        transform: scale(1.05);
        fill: black;
    }
    .footer_h4{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }
    .links3{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        text-decoration: none;
    }
    .links3:hover{
        text-decoration: underline;
    }
    .links4{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
        text-decoration: none;
    }
    .text5{
        font-size: 14px;
        line-height: 16px;
        columns: #000000;
        padding-bottom: 16px;
    }
    .input1{
        width: 288px;
        height: 41px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .input1::placeholder{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
    }
    .button1{
        background: rgba(222, 215, 215, 0.41);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 20px;
        width: 275px;
        height: 46px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-top: 12px;
        transition: all 0.8s;
    }
    .button1:hover{
        color: white;
        border-color: #888888;
        background-color: darkblue;
    }
    .button1::after{
        color: black;
        background-color: white;
    }

    /*КАТАЛОГ*/

    .catalog_products{
    margin-top: 64px;
    }
    .main_title_catalog1{
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        padding-top: 126px;
        color: #FFFFFF;
        /*width: 792px;*/
    }
    .upper_box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .upper_nav{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .upper_nav_text{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
    }
    .select_upper_box{
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 20px;
        width: 269px;
        height: 41px;
        padding-left: 14px;
        display: grid;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        background-image: url(../images/arrow_select.svg);
        background-repeat: no-repeat, repeat;
        background-position: right 22px top 50%, 0 0;
        background-size: 20px 11px;
        appearance: none;
    }
    .select_upper_box::after{
        content: "";
        width: 0.8em;
        height: 0.5em;
        background-color: var(--select-arrow);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      }
    .product_box_catalog{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 32px;
    }
    .product_catalog{
       grid-column: span 4;
    }
    .watch_more_box{
        margin-top: 32px;
        margin-bottom: 64px;
    }
    .watch_more{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #000000;
    }

@import 'bask';
@import 'tablet_main';
@import 'phone_main';